<app-nav-bar></app-nav-bar>
<div class="container mt-3">
  <h2 class="mt-2 mb-2">Ajout d'un nouveau element</h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Titre <strong>*</strong></label>
          <input
            type="text"
            class="form-control"
            formControlName="titre"
            [ngClass]="{
              'invalid-input': submitted && formGroup.controls.titre.errors
            }"
          />
          <div *ngIf="submitted && title?.errors" class="has-error">
            <div *ngIf="title?.errors?.required">Le titre est obligatoire</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>Categorie <strong>*</strong></label>
          <input
            type="text"
            class="form-control"
            formControlName="categorie"
            [ngClass]="{
              'invalid-input': submitted && formGroup.controls.categorie.errors
            }"
          />
          <div
            *ngIf="submitted && formGroup.controls.categorie.errors"
            class="has-error"
          >
            <div *ngIf="formGroup.controls.categorie.errors?.required">
              La categorie est obligatoire
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Date <strong>*</strong></label>
          <input
            type="datetime"
            class="form-control"
            formControlName="datePub"
            placeholder="2018-01-29T17:52:00"
            [ngClass]="{
              'invalid-input': submitted && formGroup.controls.datePub.errors
            }"
          />
          <div
            *ngIf="submitted && formGroup.controls.datePub.errors"
            class="has-error"
          >
            <div *ngIf="formGroup.controls.datePub.errors?.required">
              La date est obligatoire
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <label>Type date</label>
          <select formControlName="typeDate" class="form-control">
            <option value="published">Publication</option>
            <option value="updated">Mise à jour</option>
          </select>
        </div>
      </div>
    </div>
    <fieldset>
      <legend>Image</legend>
      <div class="row">
        <div class="col-8">
          <div class="form-group">
            <label>URL<strong>*</strong></label>
            <input
              type="text"
              class="form-control"
              formControlName="hrefImg"
              [ngClass]="{
                'invalid-input': submitted && formGroup.controls.hrefImg.errors
              }"
            />
            <div
              *ngIf="submitted && formGroup.controls.hrefImg.errors"
              class="has-error"
            >
              <div *ngIf="formGroup.controls.hrefImg.errors?.required">
                L'url de l'image est obligatoire
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Type</label>
            <select formControlName="typeImg" class="form-control">
              <option value="jpeg">JPEG</option>
              <option value="jpg">JPG</option>
              <option value="gif">GIF</option>
              <option value="png">PNG</option>
              <option value="bmp">BMP</option>
            </select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Taille</label>
            <input
              type="number"
              class="form-control"
              formControlName="tailleImg"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Description<strong>*</strong></label>
            <textarea
              class="form-control"
              rows="3"
              formControlName="altImg"
              [ngClass]="{
                'invalid-input': submitted && formGroup.controls.altImg.errors
              }"
            ></textarea>
            <div
              *ngIf="submitted && formGroup.controls.altImg.errors"
              class="has-error"
            >
              <div *ngIf="formGroup.controls.altImg.errors?.required">
                La description de l'image est obligatoire
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Contenu</legend>
      <div class="row">
        <div class="col-10">
          <div class="form-group">
            <label>URL</label>
            <input type="text" class="form-control" formControlName="urlCont" />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Type</label>
            <select formControlName="typeCont" class="form-control">
              <option value="text">TEXT</option>
              <option value="src">SRC</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Contenu <strong>*</strong></label>
            <textarea
              class="form-control"
              rows="3"
              formControlName="valCont"
              [ngClass]="{
                'invalid-input': submitted && formGroup.controls.valCont.errors
              }"
            ></textarea>
            <div
              *ngIf="submitted && formGroup.controls.valCont.errors"
              class="has-error"
            >
              <div *ngIf="formGroup.controls.valCont.errors?.required">
                Le contenu est obligatoire
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Créateur</legend>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label>Nom <strong>*</strong></label>
            <input
              type="text"
              class="form-control"
              formControlName="nomAuth"
              [ngClass]="{
                'invalid-input': submitted && formGroup.controls.nomAuth.errors
              }"
            />
            <div
              *ngIf="submitted && formGroup.controls.nomAuth.errors"
              class="has-error"
            >
              <div *ngIf="formGroup.controls.nomAuth.errors?.required">
                Le nom du créateur est obligatoire
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Mail</label>
            <input
              type="email"
              class="form-control"
              formControlName="mailAuth"
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Type</label>
            <select formControlName="typeCreat" class="form-control">
              <option value="author">Auteur</option>
              <option value="contributor">Contributeur</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>URI</label>
            <input type="text" class="form-control" formControlName="uriAuth" />
          </div>
        </div>
      </div>
    </fieldset>
    <button class="btn btn-primary mt-3" type="submit">Enregistrer</button>
  </form>
</div>
